/.vs
/.vscode
/synapse-dwh/syndw_xxxx_sls_d_euw_001/syndw_xxxx_sls_d_euw_001.dbmdl
/synapse-dwh/syndw_xxxx_sls_d_euw_001/syndw_xxxx_sls_d_euw_001.jfm
/synapse-dwh/syndw_xxxx_sls_d_euw_001/syndw_xxxx_sls_d_euw_001.code-workspace
/synapse-dwh/syndw_xxxx_sls_d_euw_001/obj
/synapse-dwh/syndw_xxxx_sls_d_euw_001/bin
/synapse-dwh/TestDWH/bin/
/synapse-dwh/TestDWH/obj/
/synapse-dwh/Test/bin
/synapse-dwh/Test/obj
/synapse-dwh/TestResults
/orchestration/sqldb-xxxx-orchdb-d-euw-001/bin
/orchestration/sqldb-xxxx-orchdb-d-euw-001/obj
/orchestration/sqldb-xxxx-orchdb-d-euw-001/sqldb-xxxx-orchdb-d-euw-001.jfm
/orchestration/Master Data/pbi_dataset.csv
/orchestration/Master Data/entity.csv
/orchestration/Master Data/pbi_dataset_entity.csv
/orchestration/Master Data/pbi_dataset.csv
/orchestration/node_modules/
/testDWH/.vs
/testDWH/testDWH.jfm
/testDWH/testDWH.dbmdl
/node_modules
/synapse-dwh/TestDWH/.vs
/synapse-dwh/TestDWH/TestDWH.sqlproj.user