################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/syndw_xxxx_sls_d_euw_001/syndw_xxxx_sls_d_euw_001.dbmdl
/syndw_xxxx_sls_d_euw_001/syndw_xxxx_sls_d_euw_001.jfm
syndw_xxxx_sls_d_euw_001/syndw_xxxx_sls_d_euw_001.code-workspace
/syndw_xxxx_sls_d_euw_001/obj/Debug/syndw_xxxx_sls_d_euw_001.sqlprojAssemblyReference.cache
/syndw_xxxx_sls_d_euw_001/bin/Debug
/syndw_xxxx_sls_d_euw_001/obj/Debug
/TestDWH/.vs
/TestDWH/TestDWH.sqlproj.user